body {
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #555; /* Changed from #444 to #555 for better contrast */
    color: #ffffff;
}

body.dark-mode button:hover {
    background-color: #777; /* Changed from #666 to #777 for better contrast */
    color: #ffffff;
}